.Rproj.user
.Rhistory
.RData
.RDataTmp
.Ruserdata
.Rproj.user
CCAR3.Rproj
*.xlsx
*.png
*.csv
*.pdf
experiments/results_old/*
experiments/data/fMRI-data/BNA_subregions.xlsx
experiments/data/fMRI-data/activation_groups.xlsx
experiments/results/*
results_old/*
experiments/results_20_folds/*
experiments/real-data-experiments/nutrimouse/nutrimouse_benchmark_all_methods_fresh/*
experiments/data/fMRI-data/BNA_subregions.xlsx
experiments/data/fMRI-data/*
experiments/real-data-experiments/nutrimouse/nutrimouse_benchmark_all_methods_fresh/*
experiments/real-data-experiments/nutrimouse/nutrimouse_benchmark_all_methods/*
experiments/real-data-experiments/nutrimouse/nutrimouse_benchmark_all_methods_1/*
experiments/real-data-experiments/nutrimouse/nutrimouse_benchmark_all_methods_cv/*
experiments/real-data-experiments/nutrimouse/nutrimouse_benchmark_all_methods_old/*
experiments/real-data-experiments/nutrimouse/nutrimouse_benchmark_all_methods_scaled_with_fantope/*
experiments/simulations/logs/*
experiments/simulations/results/*
experiments/real-data-experiments/nutrimouse/.DS_Store
.Ruserdata
experiments/.DS_Store
experiments/alternative_methods/.DS_Store
experiments/data/.DS_Store
experiments/data/fMRI-data/.DS_Store
experiments/data/fMRI-data/data/.DS_Store
